<div id="index-body">

<div id="view-title" class="title"><h1> POSTS </h1></div>
<div id="newblog-button" class="title"><button class="buttons" ><%= link_to 'New Blog', get_form_path %></button></div>

</div>

<div id="list-of-posts">

<% @myexperiences.each do |l| %> 
    <div id="listbox">
   <div class="postslist"> <h2><%= l.title%> </h2></div>
   <div class="postslist"> <button class="buttons"><%= link_to 'View Post' , show_path(l)%></button></div>
   </div>
<%end%></div>




</body>

